<script>
  import SecureLS from 'secure-ls'
  import config from '../config.js'
  import { onMount } from 'svelte'
  import { push } from 'svelte-spa-router'
  import axios from 'axios'
  import { Grid } from 'gridjs'

  const ls = new SecureLS()

  let categories = []
  let users = []
  let enable = false

  if (ls.get('auth') != 'authorized') {
    push('/login')
  } else {
    enable = true
  }

  onMount(async () => {
    const baseEl = document.querySelector('#base')
    baseEl.style.display = 'unset'

    await axios
      .get(config.BASE_API + 'get_category?api_token=' + config.API_TOKEN)
      .then(response => {
        categories = response.data
      })
      .catch(error => {
        console.warn(error)
      })

    await axios
      .get(config.BASE_API + 'get_user?api_token=' + config.API_TOKEN)
      .then(response => {
        users = response.data
      })
      .catch(error => {
        console.warn(error)
      })

    if (enable) {
      new Grid({
        columns: [
          {
            id: 'id',
            name: 'ID'
          },
          {
            id: 'email',
            name: 'Email'
          },
          {
            id: 'phone',
            name: 'Phone'
          },
          {
            id: 'instagram',
            name: 'Instagram'
          },
          {
            id: 'num',
            name: 'Main'
          }
        ],
        data: users,
        sort: true,
        pagination: {
          enabled: true,
          limit: 15,
          summary: true
        },
        search: {
          enabled: true
        }
      }).render(document.getElementById('userTable'))
    }
  })

  const methods = {
    handleClick(e) {
      e.preventDefault()
      ls.set('auth', null)
      push('/login')
    }
  }
</script>

<div class="container">
  {#if enable}
    <div class="row">
      <div class="header">
        <div><h2>Admin</h2></div>
        <div>
          <h3>{config.APP_NAME}</h3>
        </div>
        <div><a href="/" on:click={methods.handleClick}>Logout</a></div>
      </div>
    </div>
    <div class="row pt-3">
      {#each categories as category, i}
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="info-box animate__animated animate__fadeInUp">
            <span class="info-box-icon">🏷</span>
            <div class="info-box-content">
              <div>
                <span class="info-box-text">{category.name.split('-')[0]}</span>
                <span class="info-box-number">{category.num}</span>
              </div>
            </div>
          </div>
        </div>
      {/each}
    </div>
    <div class="row">
      <div
        class="col-12 mb-1 animate__animated animate__fadeIn"
        id="userTable"
      />
    </div>
  {/if}
</div>

<style>
  .container {
    background-color: #eee;
    color: #444;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .header {
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header > div {
    width: 33.33%;
  }

  .header > div:nth-child(1) {
    text-align: left;
  }

  .header > div:nth-child(2) {
    text-align: center;
  }

  .header > div:nth-child(3) {
    text-align: right;
  }

  .header > div > h2,
  .header > div > h3,
  .header > div > a {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .info-box {
    display: flex;
    height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
  }

  .info-box-icon {
    background-color: #212529;
    filter: grayscale(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    font-size: 36px;
    opacity: 0.5;
  }

  .info-box-content {
    padding: 5px 10px;
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
  }

  .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 36px;
  }
</style>
