<script>
  import { onMount } from 'svelte'
  import { push } from 'svelte-spa-router'

  import config from '../config.js'
  import { play } from '../store.js'

  let idx = 0

  play.subscribe(game => {
    if (!game.token) {
      push('/')
    }

    if (game.answers) {
      idx = game.answers.length
    }

    if (idx >= config.QUESTIONS.length) {
      push('/result')
    }
  })

  onMount(async () => {
    document.body.classList.remove('bg-light-grey')
    document.body.classList.remove('bg-white')
    document.body.classList.add('bg-dark')

    let areaFormEl = document.querySelector('#areaForm')
    let areaImageEl = document.querySelector('#areaImage')

    areaImageEl.style.width = document.body.clientHeight + 'px'
    areaImageEl.style.height = document.body.clientHeight + 'px'

    areaFormEl.style.width =
      document.body.clientWidth - document.body.clientHeight + 'px'
  })

  const methods = {
    handleClick(answer) {
      play.update(data => {
        return {
          ...data,
          answers: [...(data.answers || []), answer]
        }
      })

      document.activeElement.blur()
    }
  }
</script>

{#if idx < config.QUESTIONS.length}
  <div class="w-100 h-100 mx-auto">
    <img
      class="logo logo--dualipa"
      src="img/logo-dualipa.png"
      alt="Logo Dua Lipa"
      width="100"
    />

    <img
      class="logo logo--wmi"
      src="img/logo-wmi-white.png"
      alt="Logo WMI"
      width="75"
    />

    <div
      class="area"
      style="flex-direction:row{idx % 2 == 0 ? '-reverse' : ''};"
    >
      <form
        class="area__form animate__animated animate__bounceIn{idx % 2 == 0
          ? 'Right'
          : 'Left'}"
        id="areaForm"
      >
        <img
          alt="Dua Lipa"
          loading="lazy"
          class="mobile-image img-fluid animate__animated animate__bounceInDown"
          src="img/q{idx + 1}.jpg"
        />

        <div class="p-3">
          <header>
            <p>{config.QUESTIONS[idx].label}</p>
          </header>

          <div class="options {config.QUESTIONS[idx].type}">
            {#each config.QUESTIONS[idx].options as option, i}
              <div class="input-group {config.QUESTIONS[idx].type} mb-2">
                <button
                  type="button"
                  class="btn btn-info rounded-0 mb-2"
                  on:click={() => {
                    methods.handleClick(option.alias)
                  }}
                >
                  <span class="bullet">⬤</span>
                  <span>
                    {option.label}
                  </span>
                </button>
              </div>

              {#if i == 1 && config.QUESTIONS[idx].type == 'icon'}
                <div class="clear:both;width:100%;display:block;" />
              {/if}
            {/each}
          </div>
        </div>
      </form>

      <div class="area__image" id="areaImage">
        <img
          alt="Dua Lipa"
          loading="lazy"
          class="img-fluid animate__animated animate__bounceIn{idx % 2 == 0
            ? 'Left'
            : 'Right'}"
          src="img/q{idx + 1}.jpg"
        />
      </div>
    </div>
  </div>
{/if}

<style>
  .img-fluid {
    width: 100%;
    height: 100%;
  }

  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 15px;
  }

  .logo--dualipa {
    left: 0;
  }

  @media (min-width: 576px) {
    .logo--dualipa {
      left: auto;
      right: 100px;
    }

    .mobile-image {
      display: none;
    }
  }

  .logo--wmi {
    right: 0;
  }

  .area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
  }

  @media (max-width: 575.98px) {
    .area {
      display: unset;
    }

    .area__image {
      display: none;
    }

    .options.icon {
      text-align: center;
    }
  }

  .area__form > div {
    max-width: 640px;
    margin: 0 auto;
  }

  .area__form .input-group {
    border: 0;
    background: transparent;
    border-radius: 0;
  }

  .area__form .input-group .btn {
    text-align: left;
    display: flex;
    align-items: center;
  }

  .area__form .input-group .btn span.bullet {
    margin-right: 10px;
    color: white;
  }

  .area__form .input-group .btn:focus span.bullet {
    color: black;
  }

  @media (min-width: 768px) {
    .area__form .input-group .btn:hover span.bullet {
      color: gray;
    }
  }

  .area__form .input-group.icon {
    margin-right: 20px;
    margin-bottom: 15px !important;

    width: 95px;
    display: inline-block;
  }

  .area__form .input-group.icon .btn {
    font-size: 48px;
  }

  .area__form .input-group.icon .btn span.bullet {
    font-size: 16px;
  }
</style>
