<script>
  import SecureLS from 'secure-ls'
  import config from '../config.js'
  import { onMount } from 'svelte'
  import { play } from '../store.js'
  import { push } from 'svelte-spa-router'
  import axios from 'axios'

  const ls = new SecureLS()
  let data
  let category = { name: '', desc: '' }
  let filteredAnswers
  let counts = {}
  let selectedVoices = 0
  let selected = ''
  let sharer = {
    twitter: '',
    facebook: ''
  }

  onMount(async () => {
    document.body.classList.remove('bg-dark')
    document.body.classList.remove('bg-light-grey')
    document.body.classList.add('bg-white')

    let playAreaWidth = document.getElementById('playArea').offsetWidth
    let iframeYoutubeEl = document.getElementById('iframeYoutube')

    if (document.body.clientWidth >= 768) {
      iframeYoutubeEl.setAttribute('width', playAreaWidth - 320)
      iframeYoutubeEl.setAttribute('height', 380)
    } else {
      iframeYoutubeEl.setAttribute('width', document.body.clientWidth - 30)
      iframeYoutubeEl.setAttribute(
        'height',
        (document.body.clientWidth - 30) * 0.7
      )
    }

    await axios
      .get(config.BASE_API + 'get_category?api_token=' + config.API_TOKEN)
      .then(response => {
        if (selected && response.data) {
          response.data.forEach(r => {
            if (r.alias == selected) {
              category = r
            }
          })
        }
      })
      .catch(error => {
        console.warn(error)
      })

    let isSent = ls.get('sent')
    if (!isSent) methods.setAnswer()

    await axios
      .get(config.BASE_API + 'get_sharer')
      .then(response => {
        if (response.data) {
          sharer = response.data.sharer
          sharer.twitter = sharer.twitter.replace(
            '__LOBSTER__',
            category.name.split('-')[0].toLowerCase().trim().replace(' ', '+')
          )
        }
      })
      .catch(error => {
        console.warn(error)
      })
  })

  play.subscribe(game => {
    data = game

    if (!game.token) {
      push('/')
    }

    if (game.answers && game.answers.length >= config.QUESTIONS.length) {
      filteredAnswers = [...game.answers]
      filteredAnswers.length = config.QUESTIONS.length
    } else {
      push('/question')
    }
  })

  if (filteredAnswers) {
    filteredAnswers.forEach(a => {
      if (typeof counts[a] == 'undefined') {
        counts[a] = 1
      } else {
        counts[a]++
      }
    })

    Object.keys(counts).forEach(c => {
      if (counts[c] > selectedVoices) {
        selectedVoices = counts[c]
        selected = c
      }
    })
  }

  const methods = {
    reset() {
      ls.set('sent', false)
      ls.set('result', selected)
      ls.set('play', null)
      play.set({})
    },

    async setAnswer() {
      await axios
        .post(config.BASE_API + 'post_answer', {
          ...data,
          answers: filteredAnswers,
          result: selected
        })
        .then(response => {
          if (response.data.success) ls.set('sent', true)
        })
        .catch(error => {
          console.warn(error)
        })
    },

    handleClick() {
      methods.reset()
      push('/')
    }
  }
</script>

<div class="cover-container w-100 h-100 mx-auto">
  <img
    class="logo logo--dualipa"
    src="img/logo-dualipa.png"
    alt="Logo Dua Lipa"
    width="100"
  />

  <img
    class="logo logo--wmi"
    src="img/logo-wmi-black.png"
    alt="Logo WMI"
    width="75"
  />

  <div class="wrapper">
    <div class="area" id="area1">
      <div>
        <div class="text-center px-5">
          <img
            class="img-fluid"
            src="img/{selected}.gif"
            alt="Lobster"
            loading="lazy"
          />
        </div>

        <h4 class="mb-3" id="lobsterTitle">
          Ternyata kamu adalah jenis {category.name
            .split('-')[0]
            .toLowerCase()
            .trim()}
        </h4>
        {#each category.desc.split('\n') as desc}
          <p class="lobsterDesc">{desc}</p>
        {/each}
      </div>
    </div>

    <div class="area" id="area2">
      <div class="area2__inner">
        <h4 class="text-center">Yuk, dengerin Dua Lipa</h4>
        <div class="play" id="playArea">
          <iframe
            id="iframeSpotify"
            title="Dua Lipa"
            src="https://open.spotify.com/embed/playlist/7I1a94XGmUyXaGEYz3yghi"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          />
          <iframe
            id="iframeYoutube"
            width="300"
            height="160"
            src="https://www.youtube.com/embed/jr47YisIsz8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          />
        </div>
        <div class="text-center">
          <h6 class="text-center mt-5">
            Follow dan stream playlistnya di Spotify. Share juga di social
            media. Menangkan <strong>
              <em>paket lobster senilai 2 juta rupiah </em>
            </strong> dan official merchandise Dua Lipa!
          </h6>

          <button
            on:click={methods.handleClick}
            type="submit"
            class="btn btn-lg btn-info text-white rounded-0 mt-3"
          >
            <strong>Main Lagi</strong>
          </button>

          <a href={sharer.facebook} class="share" target="_blank">
            <img src="img/facebook.png" alt="Facebook" loading="lazy" />
          </a>

          <a href={sharer.twitter} class="share" target="_blank">
            <img src="img/twitter.png" alt="Twitter" loading="lazy" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .img-fluid {
    width: 100%;
    height: 100%;
  }

  .cover-container {
    background-color: #fff;
    color: #333;
    position: relative;
  }

  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 15px;
  }

  .logo--dualipa {
    left: 0;
  }

  @media (min-width: 576px) {
    .logo--dualipa {
      left: auto;
      right: 100px;
    }
  }

  .logo--wmi {
    right: 0;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .area {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  #area1 {
    width: 40%;
  }

  #area2 {
    width: 60%;
  }

  .area2__inner h4 {
    margin: 40px 0;
  }

  .lobsterDesc {
    font-size: 14px;
  }

  @media (max-width: 991.98px) {
    .wrapper {
      display: inline-block;
    }

    .area2__inner h4 {
      margin: 20px 0;
    }

    #lobsterTitle {
      text-align: center;
    }

    #area1,
    #area2 {
      width: 100%;
    }
  }

  .play {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (max-width: 767.98px) {
    .play {
      display: block;
    }

    .play iframe {
      display: block;
      margin: auto;
    }

    .play iframe:first-child {
      margin-bottom: 30px;
    }
  }

  .share > img {
    width: 49px;
    margin: 15px 5px 0;
  }
</style>
